/** @format */

/** @format */

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  margin: 0;
  font-family: "Poppins", sans-serif, "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.signImg {
  width: 70%;
  height: 80%;
}
.input-container input {
  width: 100%;
}
#input-show {
  width: 100%;
}
.form-btn {
  width: 100%;
}
.btn-menu {
  width: 30px;
  height: 30px;
}
.menu-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-bar {
  position: fixed;
  z-index: 99;
  width: 25%;
  background-color: #fbfbfb;
  border-top-right-radius: 15px;
  height: 100vh;
}
.dash-content {
  width: 75%;
  position: fixed;
  overflow-y: scroll;
  right: 0;
  height: 100vh;
}
.checkout {
  display: flex;
  flex-direction: column;
}

.dash-output {
  position: fixed;
  transition: all 0.6s ease;
  right: 0px;
  width: 38%;
  overflow-y: scroll;
  z-index: 999;
  background-color: rgb(248, 245, 245);
  height: 100vh;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
.cart {
  position: fixed;
  transition: all 0.6s ease;
  right: 0px;
  width: 50%;

  background-color: rgb(248, 245, 245);
  height: 100vh;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
.des-w {
  max-width: 250px;
  text-align: center;
}
.dash-exit {
  position: fixed;
  overflow-y: scroll;
  transition: all 0.9s ease;
  right: -100%;
  width: 38%;
  z-index: 999;
  background-color: rgb(248, 245, 245);
  height: 100vh;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
}
.order-img {
  width: 70%;
  object-fit: contain;
  height: 60%;
}
.cart-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
