/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.signImg {
  width: 70%;
  height: 120%;
}
.input-container input {
  width: 150%;
}
#input-show {
  width: 150%;
}
.form-btn {
  width: 150%;
}
.btn-menu {
  width: 30px;
  height: 30px;
}
.menu-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-bar {
  position: fixed;
  z-index: 99;
  width: 25%;
  background-color: #fbfbfb;
  border-top-right-radius: 15px;
  height: 100vh;
}
.dash-content {
  width: 75%;
  position: fixed;
  overflow-y: scroll;
  right: 0;
  height: 100vh;
}
.checkout {
  display: flex;
  flex-direction: column;
}

.dash-output {
  position: fixed;
  right: 0px;
  width: 38%;
  background-color: #fff;
  height: 100vh;
}
