/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.signImg {
  width: 70%;
  height: 120%;
}
.input-container input {
  width: 150%;
}
#input-show {
  width: 150%;
}
.form-btn {
  width: 150%;
}
